

<div id="form">
			<form ng-controller="RegisterCtrl"  ng-submit="register()">
			<input type="text" placeholder="First Name" ng-model="firstname"> 
			
			<input type="text" placeholder="Last Name" ng-model="lastname">
			
			<input type="text" placeholder="Phone" ng-model="phone">  
			
			<input type="text" placeholder="Email" ng-model="email">
			
			<input type="text" placeholder="Department" ng-model="department"> 
			
			<input type="password" placeholder="Password" ng-model="password"> 
			
			<input type="submit" value="Add">
			<div class="clear"></div>
			
		</div>
		
		
	 
	 
	 