

<div id="detailss" ng-controller="DeleteCtrl" ><br>
<table>
<tr><td >First Name</td> <td> {{data.firstname}}</td></tr>

<tr><td >Last Name</td> <td> {{data.lastname}}</td></tr>


<tr><td >Phone</td> <td> {{data.phone}}</td></tr>
<tr><td >Email</td> <td> {{data.email}}</td></tr>
<tr><td >Department</td> <td> {{data.department}}</td></tr>

<tr><td >Confirm delete</td> <td><button ng-click="del(data._id)">Delete Student</button></td></tr>



</table>			
</div>
<br>
		
		
	 
	 
	 