

<div id="detailss" ng-controller="DetailsCtrl" ><br>
<table>
<tr><td >First Name</td> <td> {{data.firstname}}</td></tr>

<tr><td >Last Name</td> <td> {{data.lastname}}</td></tr>


<tr><td >Phone</td> <td> {{data.phone}}</td></tr>
<tr><td >Email</td> <td> {{data.email}}</td></tr>
<tr><td >Department</td> <td> {{data.department}}</td></tr>

<tr><td >Identification code</td> <td> {{data._id}}</td></tr>



</table>			
</div>
<br>
		
		
	 
	 
	 