

<div id="form"><br><br>
			<h3> Update Details</h3>
			<form ng-controller="EditCtrl"  >
			
			<input type="text" placeholder="First Name" ng-model="data.firstname" value={{data.firstname}} > 
			
			<input type="text" placeholder="Last Name" ng-model="data.lastname" ng-value="{{data.lastname}}">
			
			<input type="text" placeholder="Phone" ng-model="data.phone" value="{{data.phone}}" >  
			
			<input type="text" placeholder="Email" ng-model="data.email" value="{{data.email}}">
			
			<input type="text" placeholder="Department" ng-model="data.department" value="{{data.deparment}}"> 
			
			<input type="password" placeholder="Password" ng-model="data.password" value="{{data.password}}"> 
			
			
			<input type="hidden"  ng-model="data._id" value="{{data._id}}"> 
			
			
			<input type="submit" value="Update" ng-click="update()">
			<div class="clear"></div>
			
		</div>
		
		
	 
	 
	 