
  
	 
	 
	 <div id="widespace">
	 	<h1 class="welcome">Welcome to Virtue College International</h1>
		
		<div class="link">
			<h2>Lagos Campus</h2>
		</div>
		
		<div class="link2">
			<h2> Calabar Campus</h2>
		</div>
		
	 </div>
	 
	 <div id="app_view">
	 	<ul class="navi">
		<li><a href="javascript:void(0)">Add student</a></li>
		<li><a href="javascript:void(0)">View student</a></li>
		<li><a href="javascript:void(0)">Edit student</a></li>
		<li><a href="javascript:void(0)">Delete student</a></li>
		</ul>
		
		<div ng-view></div>
		
		
		
	 </div>
	 
	 
	<div id="info"> 
		 <div id="about">
			<h2>About The School</h2>
			<p class="line"><strong>Virtue Groups of Schools </strong>
			 a school with strong passion form academics, training young minds and exposing them to the world of reality. It was founded by a woman, an erudite, Mrs Daniel Ekpo who is an educationist has a strong passion for education.She is a degree holder in faculty of eductaion. The school has produced more that 1200
			 students since its inception</p>

			
		 </div>
		 
		  <div id="courses">
			<h2>Our Courses</h2>
			<p> We offer a wide range of course beginning with simple HTML to complex programming. Recently we have added a new course (<strong>
			Artificial Intelligence</strong>) to our list of courses due to popular demand. Our courses include :
			<ul>
			<li>Artificial Intelligence</li>
			<li>Python programming</li>
			<li>Web development</li>
			<li>Devop Operations</li>
			<li>Golang programming</li>
			<li>Javascript Es6 </li>
			</ul>
		 </div>
		 
		 
		